@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h4 class="display-4">Welcome</h4>
    <h5>Calculate Penalty For Your Book</h5>
    <br />
    <br />
    <div>
        <a class="nav-link text-primary" style="font-size:xx-large" asp-area="" asp-controller="ReturnBooks" asp-action="Penalty">Go To Calculation Page</a>
    </div>
</div>
